@inherits Umbraco.Web.Macros.PartialViewMacroPage


@{ var selection = CurrentPage.Children.Where("Visible").OrderBy("CreateDate desc"); }
@* OrderBy() takes the property to sort by and optionally order desc/asc *@

    @foreach (var item in selection)
    {
        <h3>@item.Title</h3>
        <h4>@item.Author</h4><br>
        @item.Article
		<hr>
    }