@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "SiteLayout.cshtml";
}
@section Head {
	<script type="text/javascript">
		//alert("Umbraco Rocks!!!");
	</script>
}
		<h1 class="hola">Hola!</h1><br>
		<h2>I am Rolando Bernal <br><strong>A UI &amp; UX Digital Product Designer &amp; Developer based in Music City USA</strong></h2>
		@Umbraco.Field("bodyText")



