@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.NewsItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "NewsArea.cshtml";
}
<div>
	@Umbraco.Field("author", altText: "authors name")
</div>