@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>My First Umbraco Site</title>
	@RenderSection("Head",required:false)
</head>
<body>
	<div id="wrapper">
		@RenderBody()
	</div>
	<br /><br /><br />
    <div id="footer" class="container-fluid">
		<div class="nav navbar-inverse navbar-fixed-bottom">
        	@Umbraco.Field("siteFooter", recursive: true)
    	</div>
    </div>
</body>
</html>